.Authentication {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.loginRoot,
.registerRoot {
  max-width: 100%;
  overflow-x: hidden;
  user-select: none;
  text-align: center;
}

.Authentication .customBtn:focus,
.buttonPanel:focus {
  outline: none;
  box-shadow: none;
}

.captcha {
  margin: auto;
}

.Authentication .customBtn:hover {
  color: #fff;
}

.Authentication .customBtn:active,
.buttonPanel:active {
  transform: scale(1.04);
}

.Authentication .buttonPanel {
  background: #17a2b8;
  padding: 8px;
  margin: 5px;
  border-radius: 3px;
  width: 50%;
  color: white;
}
.Authentication .buttonPanelActive {
  background: #117a8b;
}

.modalOpen {
  background-color: rgba(28, 28, 28, 0.5);
}

.modalClose {
  animation: removeBackground 0.4s ease-out forwards;
}

.modal {
  min-width: 500px;
  background-color: #fff;
  z-index: 100;
  color: #ddd;
  border-radius: 3px;
  -webkit-box-shadow: -5px 7px 41px -4px rgba(41, 41, 41, 1);
  -moz-box-shadow: -5px 7px 41px -4px rgba(41, 41, 41, 1);
  box-shadow: -5px 7px 41px -4px rgba(41, 41, 41, 1);
}

.slideEnter {
  animation: modalOpen 0.4s ease-out forwards;
}

@keyframes modalOpen {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }

  50% {
    opacity: 0.5;
    transform: translateY(10vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes removeBackground {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
    transform: translateY(-100vh);
  }
}

.form {
  padding: 20px;
}

.buttonPanelBackground {
  display: flex;
}

.avatar-select-container {
  overflow-x: hidden !important;
}

.avatar-section {
  display: flex !important;
  overflow-y: hidden !important;
}

.avatar-select-form-row {
  width: 100%;
  margin: auto;
}

.stage-form {
  width: 390px;
}

.avatar-img {
  padding: 5px;
}

.avatar-img:hover {
  background-color: #4630eb;
  cursor: pointer;
}

.avatar-img-active {
  padding: 5px;
  background-color: #4630eb;
  cursor: pointer;
}

.avatar-section::-webkit-scrollbar {
  cursor: pointer;
  height: 5px;
}

.avatar-section::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.avatar-section::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.loginForm {
  margin: auto !important;
  width: 390px !important;
  margin-top: 3% !important;
}

.login-error {
  background-color: #fee5d4;
  padding: 9px;
  margin-top: 0;
  text-align: left;
  color: #7a0825;
}
.register-error {
  background-color: #fee5d4;
  padding: 9px;
  margin-top: -20px;
  margin-bottom: 10px;
  text-align: left;
  color: #7a0825;
}

.register-error-inactive {
  display: none;
}
.register-error-active {
  background-color: #fee5d4;
  padding: 9px !important;
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  color: #7a0825 !important;
  text-align: left !important;
}

.login-label {
  text-align: left;
  margin-bottom: 3px;
  font-weight: bold;
  font-family: 'Karla', sans-serif;
}

.welcomeBack {
  margin-top: 57px;
  margin-bottom: 10px;
  font-family: 'Karla', sans-serif;
}
.pragyan-login {
  font-family: 'Karla', sans-serif;
  font-size: 12px;
  margin-top: 0;
}

.create-one-button {
  color: #4630eb;
  cursor: pointer;
  text-decoration: none;
}
.customFlag {
  background: #fff;
  padding: 8px !important;
  margin: 0 !important;
  height: 50px;
  width: 100%;
  margin-left: 10%;
  border: 1px solid black;
  border-radius: 3px !important;
}

.captcha {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px 0;
}

.login-input {
  height: 50px;
  border: 1px solid black;
  border-radius: 3px !important;
}
.login-input:focus,
.login-input:active {
  outline: none !important;
  box-shadow: none !important;
}
.register-input {
  margin: 0 !important;
  height: 50px;
  width: 100%;
  margin-left: 10%;
  border: 1px solid black;
  border-radius: 3px !important;
  margin-bottom: 20px !important;
}
.left-arrow {
  position: relative;
  left: 30%;
  border-radius: 50%;
  color: #4630eb;
  font-size: 30px;
  bottom: 5px;
  cursor: pointer;
}
.left-arrow-disable {
  position: relative;
  left: 30%;
  border-radius: 50%;
  color: grey;
  font-size: 30px;
  bottom: 5px;
}

.right-arrow {
  position: relative;
  right: 30%;
  bottom: 5px;
  border-radius: 50%;
  color: #4630eb;
  font-size: 30px;
  cursor: pointer;
}
.right-arrow-disable {
  position: relative;
  right: 30%;
  bottom: 5px;
  border-radius: 50%;
  color: grey;
  font-size: 30px;
}

.left-arrow:active,
.left-arrow:focus {
  transform: scale(0.9);
}

.right-arrow:active,
.right-arrow:focus {
  transform: scale(0.9);
}

.register-input:focus,
.register-input:active {
  outline: none !important;
  box-shadow: none !important;
}

.loginButton {
  background-color: #4630eb !important ;
  margin-top: 30px;
  width: 100%;
}

.input-group {
  display: block !important;
}

.loginButton:hover {
  background-color: #4630eb;
}

.loginButton:focus {
  background-color: #4630eb;
}

.loginButton:focus,
.loginButton:active {
  outline: none !important;
  box-shadow: none;
}
.registerMessage {
  font-family: 'Karla', sans-serif;
}

.stage-div {
  margin: auto;
  display: block;
}

.register-input {
  margin: 15px 0;
}

.button-tab {
  position: relative;
  height: 50px;
  font-family: 'Karla', sans-serif;
}

.button-tab-next {
  position: absolute;
  color: white;
  right: 0;
  width: 50px;
  height: 50px;
  border: 3px solid #bada56;
  border-radius: 50% !important;
  color: #bada56;
  border-radius: 5px;
  margin-top: 10px;
}
.button-tab-next:hover {
  color: white;
  background-color: #bada56;
}
.button-tab-previous {
  position: absolute;
  color: white;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
  color: #f8b400;
  border: 3px solid #f8b400;
  margin-top: 10px;
}

.button-tab-previous:hover {
  color: white;
  background-color: #f8b400;
}

.login-section1 {
  box-sizing: content-box;
}

.button-tab-previous:focus,
.register-button:focus,
.button-tab-next:focus {
  outline: none;
  box-shadow: none;
}

.register-button {
  margin: auto;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  background-color: #4630eb;
  color: white;
  border-radius: 5px;
}

.multi-steps > li.is-active:before,
.multi-steps > li.is-active ~ li:before {
  content: counter(stepNum);
  font-family: inherit;
  font-weight: 700;
}
.multi-steps > li.is-active:after,
.multi-steps > li.is-active ~ li:after {
  background-color: #ededed;
}

.multi-steps {
  display: table;
  table-layout: fixed;
  width: 34%;
  margin: auto;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  padding: 0;
}
.multi-steps > li {
  counter-increment: stepNum;
  text-align: center;
  display: table-cell;
  position: relative;
  color: #4bb543;
}
.multi-steps > li:before {
  content: '\2713';
  display: block;
  margin: 0 auto 4px;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: #4bb543;
  border-radius: 50%;
}
.multi-steps > li:after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: #4bb543;
  position: absolute;
  top: 16px;
  left: 50%;
  z-index: -1;
}
.multi-steps li.is-active {
  color: #4630eb;
}
.multi-steps li:active:before {
  transform: scale(0.9);
}

.multi-steps > li:last-child:after {
  display: none;
}
.multi-steps > li.is-active:before {
  background-color: #fff;
  border-color: #4630eb;
}
.multi-steps > li.is-active ~ li {
  color: #808080;
}
.multi-steps > li.is-active ~ li:before {
  background-color: #ededed;
  border-color: #ededed;
}

.register-h1 {
  margin-top: 30px;
}

.main-register-form {
  margin-top: 5%;
}

.error-row {
  width: 100%;
  margin-right: 0;
  margin-left: -3px;
}

.login-error-active {
  position: relative;
  left: 1%;
}
