.Authentication {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.Authentication .customBtn:focus,
.buttonPanel:focus {
  outline: none;
  box-shadow: none;
}

.Authentication .customBtn:hover {
  color: #fff;
}

.Authentication .customBtn:active,
.buttonPanel:active {
  transform: scale(1.04);
}

.Authentication .buttonPanel {
  background: #17a2b8;
  padding: 8px;
  margin: 5px;
  border-radius: 3px;
  width: 50%;
  color: white;
}
.Authentication .buttonPanelActive {
  background: #117a8b;
}

.modalOpen {
  background-color: rgba(28, 28, 28, 0.5);
}

.modalClose {
  animation: removeBackground 0.4s ease-out forwards;
}

.modal {
  min-width: 500px;
  background-color: #fff;
  z-index: 100;
  color: #ddd;
  border-radius: 3px;
  -webkit-box-shadow: -5px 7px 41px -4px rgba(41, 41, 41, 1);
  -moz-box-shadow: -5px 7px 41px -4px rgba(41, 41, 41, 1);
  box-shadow: -5px 7px 41px -4px rgba(41, 41, 41, 1);
}

.slideEnter {
  animation: modalOpen 0.4s ease-out forwards;
}

@keyframes modalOpen {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }

  50% {
    opacity: 0.5;
    transform: translateY(10vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes removeBackground {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
    transform: translateY(-100vh);
  }
}

.form {
  padding: 20px;
}

.buttonPanelBackground {
  display: flex;
}

.avatar-select-container {
  overflow-x: hidden !important;
}

.avatar-section {
  display: flex !important;
  overflow-y: hidden !important;
}

.avatar-img {
  padding: 5px;
}

.avatar-img:hover {
  background-color: #117a8b;
  cursor: pointer;
}

.avatar-img-active {
  padding: 5px;
  background-color: #117a8b;
  cursor: pointer;
}

.avatar-section::-webkit-scrollbar {
  cursor: pointer;
  height: 5px;
}

.avatar-section::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.avatar-section::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
