.CodeStatusRow {
  background-color: #202020;
  height: 22px;
  margin: 0px;
}

.StatusTextCol {
  padding-left: 30px;
  padding-right: 0px;
  padding-top: 5px;
}

.CommitStatusCol {
  padding-left: 0px;
  padding-right: 30px;
  padding-top: 5px;
}

.LastSaveCol {
  padding-left: 0px;
  padding-right: 30px;
  padding-top: 5px;
}

.StatusText {
  color: white;
  font-size: 13px;
  line-height: 13px;
}

.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 13px;
  height: 13px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.loaderWrapper {
  padding-top: 4px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
