.CodeStatusRow {
  background-color: #202020;
  height: 22px;
  margin: 0px;
}

.StatusTextCol {
  padding-left: 30px;
  padding-right: 0px;
  padding-top: 5px;
}

.CommitStatusCol {
  padding-left: 0px;
  padding-right: 30px;
  padding-top: 5px;
}

.LastSaveCol {
  padding-left: 0px;
  padding-right: 30px;
  padding-top: 5px;
}

.StatusText {
  color: white;
  font-size: 13px;
  line-height: 13px;
}
