.CommitMessageBox {
  position: absolute;
  left: 15px;
  top: 45px;
  width: 350px;
  background-color: rgb(41, 41, 41);
  color: #ddd;
  border-radius: 3px;
  z-index: 1000;
}

.hideCommitMessageBox {
  display: none;
}

.customBtn:hover {
  color: #fff;
}

.customBtn:active {
  transform: scale(1.04);
}

.customBtn:focus {
  outline: none;
  box-shadow: none;
}
