.Commit {
  background-color: #282828 !important;
  border: 0px !important;
  border-left: 2px blue !important;
  border-radius: 0px !important;
  color: white !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px !important;
}

.Commit:hover {
  cursor: pointer;
}

.CommitDetails {
  width: 80%;
  float: left;
  padding: 12px;
}

.CommitDate {
  color: #ddd;
  font-size: 13px;
}

.CommitImage {
  width: 20%;
  margin-left: 80%;
}

.commitlog-wrap {
  z-index: 0;
  max-height: 92vh;
  overflow-y: scroll;
  margin-bottom: 5px;
}

.commitlog-wrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1c1c1c;
}

.commitlog-wrap::-webkit-scrollbar {
  width: 0px;
  background-color: #1c1c1c;
}

.commitlog-wrap::-webkit-scrollbar-thumb {
  background-color: #ddd;
  height: 30px;
}

.CommitLog {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #1c1c1c;
  z-index: 10;
  color: #ddd;
  border: 2px solid #1c1c1c;
  transition: all 0.2s ease-out;
  height: 100vh;
  overflow: hidden;
}

.ForkLogo {
  padding: 4px;
  height: 25px !important;
}

.ForkLogo:hover {
  transform: scale(1.08);
  cursor: pointer;
}
