.root {
  background-color: #fff9f0;
  width: 100%;
  overflow-x: hidden;
  height: 300vh;
  position: absolute;
  top: 0;
}

.landing-heading {
  font-size: 5rem;
  font-family: 'Karla';
  margin: auto;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #fff;
  position: relative;
  font-family: 'Karla';
  box-shadow: 2px darkgrey;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: black;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: black;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > .nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav .nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    margin-top: -3px;
    display: block;
    width: 100%;
    background-color: white;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > .nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > .nav-check:checked ~ .nav-links {
    height: 45vh;
    overflow-y: auto;
  }
}

.main-nav {
  position: fixed !important;
  background-color: #fff9f0 !important;
  width: 90% !important;
  margin-left: 5% !important;
  margin-top: 20px !important;
  border-radius: 40px !important;
  height: 70px !important;
  z-index: 100000 !important;
}

.main-nav-down {
  position: fixed !important;
  background-color: white !important;
  margin-left: 5% !important;
  width: 90% !important;
  height: 70px !important;
  margin-top: 20px !important;
  border-radius: 10px !important;
  box-shadow: 5px !important;
  -webkit-box-shadow: 0 0 4px grey !important;
  -moz-box-shadow: 0 0 4px grey !important;
  box-shadow: 0 0 4px grey !important;
  z-index: 100000 !important;
}

.main-title {
  position: relative !important;
  left: 5% !important;
}

.first-cont {
  margin-top: 140px;
}
