.root {
  background-color: white;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  top: 0;
}

.landing-heading {
  position: absolute;
  padding-left: 5vw;
  top: 50vh;
  transform: translate(0, -50%);
}

.landing-heading h1 {
  font-size: 8rem;
  font-size: min(8rem, 16vw);
  font-family: 'Under';
}

.landing-heading p {
  font-size: 2.5rem;
  font-family: 'Axiforma';
}

.nav {
  width: 100%;
  background-color: white;
  position: relative;
  font-family: 'Karla';
  box-shadow: 2px darkgrey;
  box-shadow: 5px 0 5px gray;
  text-align: left;
  z-index: 1000;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: black;
  font-weight: bolder;
  padding: 8px 8px 8px 8px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: black;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > .nav-check {
  display: none;
}

@media (max-width: 1000px) {
  .head_img {
    left: 50vw !important;
    transform: translate(-50%, -50%) !important;
    opacity: 0.5;
  }
  .landing-heading {
    text-align: center !important;
    justify-content: center !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .landing-heading h1 {
    text-align: center !important;
    padding-left: 15px;
    justify-content: center;
  }

  .img_mob {
    display: block !important;
  }

  .img_big {
    display: none !important;
  }

  .codechar-video {
    display: none;
  }
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav .nav-check:checked ~ .nav-btn > label {
    background-color: #fff9f0;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #6bc8b0;
  }
  .nav > .nav-links {
    margin-top: -3px;
    display: block;
    width: 100%;
    background-color: white;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > .nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > .nav-check:checked ~ .nav-links {
    height: 37vh;
    overflow-y: auto;
  }
}

.main-nav {
  position: fixed !important;
  background-color: #fff9f0 !important;
  width: 90% !important;
  margin-left: 5% !important;
  margin-top: 20px !important;
  border-radius: 40px !important;
  height: 70px !important;
  z-index: 100000 !important;
}

.main-nav-down {
  position: fixed !important;
  background-color: white !important;
  margin-left: 5% !important;
  width: 90% !important;
  height: 70px !important;
  margin-top: 20px !important;
  border-radius: 10px !important;
  box-shadow: 5px !important;
  -webkit-box-shadow: 0 0 4px grey !important;
  -moz-box-shadow: 0 0 4px grey !important;
  box-shadow: 0 0 4px grey !important;
  z-index: 100000 !important;
}

.main-title {
  position: relative !important;
  left: 5% !important;
}

.first-cont {
  margin-top: 140px;
  margin-bottom: 140px;
}

@media (max-width: 970px) {
  .about-codechar {
    border: none;
  }
  .codechar-video {
    width: 80%;
    margin: 0;
  }
}

.about-container {
  margin-top: 40px;
  margin-left: 40px;
  margin-left: min(40px, 5vw);
  font-family: 'Axiforma';
}

.about-container p li {
  font-size: 1.325rem;
  font-family: 'Axiforma' !important;
}

.codechar-video {
  width: 80%;
  margin-left: 4%;
}

.head {
  width: 100vw;
  height: 100vh;
  background-color: #1c1a27;
  color: white;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.head_img {
  position: absolute;
  left: 60vw;
  top: 50vh;
  transform: translate(0, -50%);
  max-width: 600px;
  max-height: 600px;
  height: auto;
  width: auto;
}
.faq_section {
  margin-left: 10vw;
  margin-right: 10vw;
}

.img_mob {
  display: none;
}

.img_big {
  display: block;
}
