.Leaderboard {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #1c1c1c;
  z-index: 10;
  color: #ddd;
  border: 2px solid #1c1c1c;
  transition: all 0.2s ease-out;
  height: 100vh;
  overflow: hidden;
  padding-left: 100px;
  padding-right: 100px;
}

.leader-wrap {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-left: 15px;
}

.leader-wrap:hover {
  cursor: pointer;
}

.leaderboard-wrap {
  z-index: 0;
  max-height: 92vh;
  overflow-x: hidden;
  margin-bottom: 5px;
}

.leaderboard-wrap::-webkit-scrollbar-track {
  display: none;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1c1c1c;
}

.leaderboard-wrap::-webkit-scrollbar {
  display: none;
  width: 5px;
  background-color: #1c1c1c;
}

.leaderboard-wrap::-webkit-scrollbar-thumb {
  display: none;
  background-color: #1c1c1c;
  border-radius: 40px;
}

.leader {
  padding: 8px 16px;
  margin-bottom: 100px;
  animation-name: revealLeaders;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  background: #292929;
  border-radius: 10px;
}

.leader-ava {
  padding: 8px;
  position: relative;
}

.leader-ava-l {
  padding: 8px;
  position: relative;
}

.player-info-1 {
  display: flex;
}

.player-info-2 {
  display: flex;
  padding: 5px !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.leaderUserName:hover {
  cursor: pointer;
  color: white;
}

.leader-flag {
  image-resolution: normal;
  margin: 8px;
  margin-top: -4px;
  padding-left: 2px;
}

.leader-score {
  margin: 0px 15px;
}

.leader-score svg {
  display: block;
  margin-right: 4px;
}

.leader-score_title {
  line-height: 1;
}

.leader-bar {
  margin-top: 10px;
  height: 3px;
  animation-name: barLoad;
  animation-duration: 1s;
  animation-fill-mode: both;
  transform-origin: left;
}

.bar {
  height: 4px;
  border-radius: 2px;
}

.search {
  outline: 0;
  width: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.textbox {
  outline: 0;
  height: 42px;
  width: 100%;
  line-height: 42px;
  padding: 0 16px;
  background-color: #1c1c1c;
  color: white;
  border: 0;
  float: left;
}

.textbox:focus {
  outline: 0;
}

.button {
  outline: 0;
  background: #1c1c1c !important;
  float: right;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: white;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.leader-content {
  display: flex;
  padding: 10px;
  margin: 5px;
}
.leader-avatar {
  display: inline;
}

.leader-avatar-current {
  display: inline;
  -webkit-filter: drop-shadow(0px 0px 9px rgba(100%, 100%, 100%, 1));
  filter: drop-shadow(0px 0px 9px rgba(100%, 100%, 100%, 1));
}

.button:hover {
  background-color: #ddd;
  color: #1c1c1c;
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.leaderboardTitle {
  padding: 0px !important;
}

@keyframes revealLeaders {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes barLoad {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.trophy:hover {
  color: rgb(255, 185, 0);
}

.handshake:hover {
  color: peachpuff;
}

.thumbdown:hover {
  color: red;
}

.aflag {
  display: none;
}

.apexcharts-canvas,
.apexcharts-zoomable,
.hovering-zoom {
  margin-left: -17% !important;
}

.dropbtn {
  background-color: #1c1c1c;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:focus {
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1c1c1c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #1c1c1c;
}

.dropDownMenu:hover {
  background-color: white;
  color: black;
}

.dropDownMenuActive {
  background-color: #555 !important;
}
