.MatchView {
  background-color: #1c1c1c;
  color: #ddd;
  border: 2px solid #1c1c1c;
  overflow: hidden;
}

.customBtn {
  color: #dddddd;
  background: #525252;
  min-width: 50px;
  border: none;
  outline: none;
}

.customBtn:hover,
.closeBtn:hover {
  cursor: pointer;
}

.customBtn:focus,
.closeBtn:focus {
  outline: none;
  box-shadow: none;
}

.customBtn:active,
.closeBtn:active {
  transform: scale(1.08);
}

.buttonActive {
  background: #2a2828;
}

.matchViewWrap {
  padding-top: 20px;
  max-height: 85vh;
  overflow-y: scroll;
}

.matchViewWrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1c1c1c;
}

.matchViewWrap::-webkit-scrollbar {
  width: 3px;
  background-color: #1c1c1c;
}

.matchViewWrap::-webkit-scrollbar-thumb {
  background-color: #ddd;
  height: 30px;
}

.matchElement {
  padding: 5px;
  margin-top: 5px;
  border-radius: 2px;
  background: #464646;
  color: #fff;
}

.topMatchElement {
  animation: pulse 1.5s infinite;
  animation-direction: alternate;
  margin-bottom: 10px;
}

.loseBackground {
  background-color: #d23d56;
}

.winBackground {
  background-color: #50c32c;
}

.topMatchesButton {
  animation: pulse 1.5s infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 16px #fc6ecc, -2px 0 16px #f66acd, 2px 0 16px #e15cd4;
  }
  15% {
    box-shadow: 0 0 16px #f66acd, -2px 0 16px #e15cd4, 2px 0 16px #bf45de;
  }
  30% {
    box-shadow: 0 0 16px #e15cd4, -2px 0 16px #bf45de, 2px 0 16px #b841e0;
  }
  45% {
    box-shadow: 0 0 16px #bf45de, -2px 0 16px #b841e0, 2px 0 16px #a132e8;
  }
  60% {
    box-shadow: 0 0 16px #b841e0, -2px 0 16px #a132e8, 2px 0 16px #831ef0;
  }
  75% {
    box-shadow: 0 0 16px #a132e8, -2px 0 16px #831ef0, 2px 0 16px #7011f6;
  }
  90% {
    box-shadow: 0 0 16px #831ef0, -2px 0 16px #7011f6, 2px 0 16px #670cf9;
  }
  100% {
    box-shadow: 0 0 16px #7011f6, -2px 0 16px #670cf9, 2px 0 16px #6315ff;
  }
}
