.Modal {
  /* height: 300px; */
  width: 400px;
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #1c1c1c;
  z-index: 10;
  color: #ddd;
  border: 2px solid #ddd;
  transition: all 0.2s ease-out;
}

.formControlSelect {
  background: none;
  border: 1px solid #525252;
  color: #ddd;
}

.formControlSelect:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #ffffff;
}

.Modal .setting {
  background: #292929;
}

.slide-enter-active {
  animation: modalOpen 0.4s ease-out forwards;
}

.slide-exit-active {
  animation: modalClose 0.4s ease-out forwards;
}

@keyframes modalOpen {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }
  50% {
    opacity: 0.5;
    transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalClose {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    opacity: 0.8;
    transform: translateY(10vh);
  }
  100% {
    opacity: 0;
    transform: translateY(-100vh);
  }
}
