.atag,
.next,
.previous {
  border-radius: 20px;
  border: 2px solid #1c1c1c;
  margin: 4px;
  line-height: 20px;
  user-select: none;
}

.next,
.previous:hover {
  cursor: pointer;
  color: red !important;
}

.atag:hover {
  cursor: pointer;
  background-color: white;
  color: red !important;
}

.atag:hover a,
.atag.active a {
  color: black;
}

.atag a,
.next a,
.previous a,
.atag.active a {
  color: black;
}

.atag a,
.next a,
.previous a {
  padding: 0px 8px;
  color: white;
  font-size: 13px;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  font-weight: 400;
  user-select: none;
}

.atag a:focus,
.next a:focus,
.previous a:focus {
  outline: none;
}

.atag.active {
  color: black;
  background-color: white;
}

.break-me {
  padding: 3px 10px;
}

.break-me a {
  text-decoration: none;
  color: white;
}

.pagination {
  margin: 0px;
}
