.main-button {
  position: absolute;
  bottom: 20px;
  right: 100px;
  width: 50px;
  height: 50px;
  font-size: 85%;
  border-radius: 50%;
  background-color: #f57f17;
  z-index: 1000 !important;
  box-shadow: 1px 1px #c0c0c0;
  position: fixed;
}

.pop-up {
  width: 200px;
  height: 200px;
  background-color: white;
  position: absolute;
  right: 30px;
  bottom: 80px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px #404040;
}
.pop-up-display-none {
  display: none;
}

.menu-item {
  margin: 15px;
  color: white;
  background-color: black;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto';
  border-radius: 30px;
  margin-left: 15px;
}

.menu-item-github {
  margin-top: 35px;
}

.menu-icon {
  position: absolute;
  left: 20px;
}

.menu-item-documentation {
  background-color: white;
  color: black;
  border: 1px solid black;
  /* position: relative;
  left:10px; */
}

.menu-item-slack {
  background-color: #49144b;
  color: white;
}
/* .menu-icon-doc{
  margin-right:15px!important;
} */

.menu-icon-slack {
  justify-content: center;
}

.close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
