.customFlag {
  width: 89%;
  background: #fff;
  padding: 8px;
  border: 1px solid #ced4da;
}

.flag-select img {
  width: 1.5em;
  position: relative;
  top: 0 !important;
}

.flag-select .arrow-down {
  padding: 0px !important;
  position: absolute;
  right: 10px;
}

img {
  vertical-align: top !important;
}

.errorMessage {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
