.customFlag {
  width: 89%;
  background: #fff;
  padding: 8px;
  border: 1px solid #ced4da;
}

.flag-select img {
  width: 1.5em;
  position: relative;
  top: 0 !important;
}

.flag-select .arrow-down {
  padding: 0px !important;
  position: absolute;
  right: 10px;
}

img {
  vertical-align: top !important;
}

.errorMessage {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.flaglabel {
  cursor: pointer;
  text-indent: -9999px;
  width: 35px;
  height: 20px;
  background: grey;
  display: inline-block;
  border-radius: 18px;
  position: relative;
}

.flaglabel:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 2px;
  width: 17.5px;
  height: 18px;
  background: #fff;
  border-radius: 18px;
  transition: 0.3s;
}

input:checked + .flaglabel {
  background: #bada55;
}

input:checked + .flaglabel:after {
  left: calc(100% - 1px);
  transform: translateX(-110%);
}

.flaglabel:active:after {
  width: 20px;
}

.input-group{
  display:block !important;
}

.labeltext{
  color:rgba(0, 0, 32, 0.8);
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
