.dropdown {
  position: absolute;
  left: 9em;
  border-radius: 4px;
  color: #dddddd;
  background: #222;
  font-size: 14px;
  width: 200px;
  z-index: 99;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.6), 0 5px 10px rgba(0, 0, 0, 0.6);
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown .dropdownItem {
  border-top: 1px solid #2a2a2a;
}

.dropdown .dropdownItem:first-child {
  bottom: 0;
}

.dropdownItem:hover {
  background: #39bae6;
  color: #333 !important;
  text-decoration: none;
}

.dropdownItem {
  display: block;
  padding: 13px 15px;
  color: white !important;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.dropdown > .dropdownItem:first-child {
  border: 0;
}

.hideDropdown {
  display: none;
}

.dropdown-submenu {
  top: 0;
  min-width: 100px;
  left: 100%;
  background: #686868;
  color: black !important;
  font-size: 14px;
  z-index: 99;
}

.dropdownItemIcon {
  float: right;
}
