.Sidebar {
  background: #292929;
  width: 50px;
}

.Sidebar .customBtn {
  font-size: 20px;
  color: #9c9c9c;
}

.Sidebar .customBtn:focus {
  outline: none;
  box-shadow: none;
}

.Sidebar .customBtn:hover {
  color: #fff;
}

.Sidebar .customBtn:active {
  transform: scale(1.08);
}

.Sidebar .customBtnActive {
  color: #fff;
}

.Sidebar .joyRide {
  font-size: 20px;
  color: #9c9c9c;
  position: fixed;
  position: absolute;
  top: 77vh;
}

.Sidebar .dologo {
  position: fixed;
  position: absolute;
  top: 85vh;
}

.Sidebar .deltaLogo {
  position: fixed;
  position: absolute;
  top: 92vh;
}

.joyRide:focus,
.dologo:focus {
  outline: none;
  box-shadow: none;
}

.joyRide:hover {
  color: #fff;
}

.dologo:hover {
  -webkit-filter: invert(44%) sepia(34%) saturate(5910%) hue-rotate(174deg) brightness(90%)
    contrast(102%);
  filter: invert(44%) sepia(34%) saturate(5910%) hue-rotate(174deg) brightness(90%) contrast(102%);
}

.deltaLogo:hover {
  -webkit-filter: invert(43%) sepia(87%) saturate(1513%) hue-rotate(82deg) brightness(103%) contrast(87%);
  filter: invert(43%) sepia(87%) saturate(1513%) hue-rotate(82deg) brightness(103%) contrast(87%);
}

.joyRide:active {
  transform: scale(1.08);
}

.joyRideActive {
  color: #fff;
}
