.Sidebar {
  background: #292929;
  width: 50px;
}

.Sidebar .customBtn {
  font-size: 20px;
  color: #9c9c9c;
}

.Sidebar .customBtn:focus {
  outline: none;
  box-shadow: none;
}

.Sidebar .customBtn:hover {
  color: #fff;
}

.Sidebar .customBtn:active {
  transform: scale(1.08);
}

.Sidebar .customBtnActive {
  color: #fff;
}

.Sidebar .joyRide {
  font-size: 20px;
  color: #9c9c9c;
  position: fixed;
  position: absolute;
  top: 82vh;
}

.Sidebar .dologo {
  position: fixed;
  position: absolute;
  top: 92vh;
}

.joyRide:focus {
  outline: none;
  box-shadow: none;
}

.joyRide:hover {
  color: #fff;
}

.joyRide:active {
  transform: scale(1.08);
}

.joyRideActive {
  color: #fff;
}
