.SubmitBar {
  user-select: none;
  width: 100%;
  padding: 8px;
  background: #292929;
  position: fixed;
  box-sizing: border-box;
  z-index: 1;
}

.SubmitBar .customBtn {
  color: #dddddd;
  background: #525252;
  border: 1px solid #525252;
  outline: none;
  margin: 0 8px;
  font-size: 15px;
  display: inline-block;
}

.SubmitBar .customBtn:hover {
  cursor: pointer;
}

.SubmitBar .customBtn:focus {
  outline: none;
  box-shadow: none;
}

.SubmitBar .customBtn:active {
  transform: scale(1.08);
}

.customBtn div {
  padding: 0.5px;
}

.customBtn span {
  margin: 2px;
}

.icon {
  padding-right: 5px;
  border-right: 1px solid #3f3f3f;
}

.toggleIcon {
  padding-right: 0px;
  border-right: 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 9px;
  background-color: #292929;
  width: 160px;
  padding: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content div {
  color: rgb(214, 198, 198);
  padding: 12px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content-LVL {
  margin-right: 18px;
}

.dropdown-content div:hover {
  background-color: rgb(240, 231, 231);
  color: rgb(15, 14, 14);
}

.dropdown:hover .dropdown-content {
  display: block;
}
